* {
  box-sizing: border-box;
}
/* CSS全称セレクタ */
body {
  margin: 0;
}
/* デフォルト余白除去 */
.hero {
  position: relative; /* この要素自身を基準位置として扱えるようにする */
  height: 100vh; /* ブラウザを開いたときの１画面分高さ */
}
.hero-img {
  width: 100%;
  height: 60%;
  overflow: hidden;
}
/* 画像を入れてる箱のサイズ */
.hero-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}
.hero-track img {
  flex: 0 0 100%; /* 1枚につき画面幅100%使え */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo-6 {
  object-position: 30% 50%;
}
.hero-content {
  position: absolute; /* 親の.heroを基準に、好きな場所へ配置できるようにする */
  top: 80%;
  left: 65%; /*親の中央に配置 */
  transform: translate(-50%, -50%);
  /* 自分の中心を親の中心に合わせる */
  width: 60%;
}
.hero-content h1 {
  font-size: 50px;
  margin: 0;
  letter-spacing: 6px; /* 文字と文字の間隔 */
  font-family: "Cormorant Garamond", serif;
}
.hero-content .date {
  margin: 22px 0 0;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 500;
  font-family: "Cormorant Garamond", serif;
}
.hero-content button {
  margin-top: 10px;
  padding: 12px 30px;
  background: transparent; /* 背景を透明に */
  border: 1px solid black;
  letter-spacing: 4px;
  font-weight: 700;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
  font-family: sans-serif;
}
.hero-content button:hover {
  transform: translateY(-2px);
  color: aliceblue;
  background-color: black;
}
.slide-dots {
  text-align: center;
  letter-spacing: 3px;
  font-size: 10px;
}
