body {
  background-color: rgb(251, 249, 249);
  color: rgb(10, 10, 10);
  font-family: "Shippori Mincho", serif;
}
.zoom {
  transition: all 0.3s ease;
}
.zoom:hover {
  transform: scale(1.05);
}
.memory {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}
.memory h2 {
  letter-spacing: 6px;
}
.date {
  text-align: center;
  letter-spacing: 2px;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}
.photo img {
  width: 100%;
}
.photo {
  position: relative;
  margin-bottom: 30px;
}
.photo-date {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 18px;
  font-family: sans-serif;
}
.location {
  position: absolute;
  bottom: 50px;
  left: 20px;
  font-family: sans-serif;
}
.memory-text {
  text-align: center;
}
.memory-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: 0 0%;
}
.memory-card {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 30px;
}
.profile-card {
  border: 1px solid black;
  padding: 5px;
  height: 400px;
  margin-bottom: 30px;
}
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.ritsu {
  width: 100%;
}
.sara {
  width: 100%;
  transform: translateY(-20px) scale(1.6);
  object-fit: cover;
}
.card-4 img {
  width: 70%;
  height: 250px;
}
.card-4 {
  position: relative;
  height: 400px;
}
.card-4 .card-date {
  position: absolute;
  top: 30px;
  right: 25px;
}
.card-5 img {
  height: 450px;
}
.card-5 {
  position: relative;
}
.info-overlay {
  position: absolute;
  top: 120px;
  right: 70px;
  background-color: rgba(67, 72, 72, 0.955);
  color: aliceblue;
  width: 160px;
  height: 250px;
  transition: all 0.3s ease;
  opacity: 1;
  border-radius: 14px;
  text-align: center;
  transform: translateY(5px);
  opacity: 0;
}
.card-5:hover .info-overlay {
  transform: translateY(0);
  opacity: 1;
}
